<html>
    <head>
        <title>Judith's First Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Judith's Blog</a></h1>
        </div>

        <div>
            <p>published: 20.02.2016, 16:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Testing that this really works.</p>
        </div>

        <div>
            <p>published: 20.02.2016, 16:00</p>
            <h2><a href="">My second post</a></h2>
            <p>AWell the first one worked, did the second one?</p>
        </div>
    </body>
</html>